@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-text-base: #397;
  }
}

@layer components {
  .menu-link {
    @apply relative flex items-center px-5 py-3 text-sm font-semibold text-gray-600 lg:py-0 lg:border-b-4 lg:border-transparent hover:text-gray-800 hover:border-gray-200 transition duration-500 ease-in-out !important;
  }
  .input-projet {
    @apply text-xl py-1 px-2 mx-2 bg-white placeholder-gray-400 text-cse border-b rounded-none border-gray-300 focus:outline-none focus:ring-0 focus:border-red-300 sm:leading-5;
  }
  .input-text {
    @apply text-lg py-2 px-3 block w-full bg-white placeholder-gray-400 text-cse border rounded-none border-gray-300 focus:outline-none focus:ring-0 focus:border-red-300 sm:leading-5;
  }
  .btn-primary {
    @apply inline-flex justify-center py-2 px-9 border border-transparent rounded-md text-lg font-bold text-white bg-cse hover:bg-red-700 focus:outline-none focus:ring-4 focus:ring-offset-1 focus:ring-red-300;
  }
  .form-label {
    @apply block text-sm font-medium text-gray-600;
  }
  .resa-container {
    @apply container mx-auto bg-white shadow-md p-6 text-lg space-y-6 rounded-sm;
  }
  .resa-title {
    @apply mb-6 py-1 px-3 text-cse text-xl font-bold bg-gray-100;
  }
  .resa-error {
    @apply text-xs pt-1 text-red-600;
  }
  .menu-mentions {
    @apply block w-full py-1 px-2 md:border-l md:border-dashed md:border-gray-300 hover:bg-gray-100 hover:text-red-800 hover:font-semibold hover:border-l-4 hover:border-solid;
  }
  .faq-card {
    @apply border mb-6 bg-white shadow-md border-cse rounded-lg divide-y divide-cse text-sm sm:text-base;
  }
  .faq-q {
    @apply p-3 bg-red-50 rounded-t-lg;
  }
  .main-title {
    @apply text-center font-semibold uppercase text-2xl text-cse mb-8 md:text-3xl;
  }
  .puce {
    @apply text-2xl text-red-700 leading-none;
  }
  .form-group {
    @apply flex flex-col;
  }
  .form-group label {
    @apply block font-semibold text-gray-400 text-xs text-left uppercase;
  }
  .form-group input[type="text"],
  .form-group select {
    @apply appearance-none relative block mt-1 py-2 px-3 leading-6 shadow-sm text-sm border border-gray-700 text-gray-700 placeholder-gray-400 focus:ring-gray-500 focus:border-gray-500;
  }
  .disabled .form-group input[type="text"],
  .disabled .form-group select {
    @apply bg-gray-300;
  }
  .error-message {
    @apply text-sm text-left text-red-300;
  }
  .recap {
    @apply text-justify text-sm text-gray-800 whitespace-pre-wrap;
  }
  .recap ul {
    @apply list-disc list-inside;
  }
  .recap ol {
    @apply list-decimal list-inside;
  }
  .recap pre {
    @apply text-xs whitespace-normal font-mono;
  }
  .recap blockquote {
    @apply py-1 px-2 my-1 bg-gray-200 border-l-4 border-gray-400;
  }
  .recap h1 {
    @apply mb-1 text-base font-bold;
  }
}

@layer utilities {
  .boxed {
    max-width: 1140px;
  }
  .spinner {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border-width: 3px;
    animation: spinner 1s linear infinite;
  }
  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

[x-cloak] {
  display: none;
}

.DayPicker {
  border: 1px solid #e5e7eb;
}
.DayPicker-Month {
  margin: 1rem 1.5rem 0 1.5rem !important;
}
.DayPicker-Caption {
  font-size: 0.9rem !important;
}
.DayPicker-Weekday {
  font-size: 0.7rem !important;
}
.DayPicker-Day {
  font-size: 0.85rem !important;
  border-radius: 0 !important;
}
.DayPicker-Day:hover {
  cursor: pointer;
  background-color: #fef2f2 !important;
}
.DayPicker-Day--today {
  color: #dc2626 !important;
  font-weight: bold;
}
.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
  position: relative;
  color: #fff !important;
  background-color: #dc2626 !important;
}
.DayPicker-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside) {
  background-color: #fca5a5 !important;
  color: #fff !important;
}
.DayPicker-Day--end {
  font-weight: bold;
  border-bottom-right-radius: 50% !important;
  border-top-right-radius: 50% !important;
}
.DayPicker-Day--start {
  border-bottom-left-radius: 50% !important;
  border-top-left-radius: 50% !important;
  font-weight: bold;
}
.DayPicker-Caption select {
  padding: 3px 20px 3px 5px !important;
  font-size: 0.9rem !important;
  background-position: right 0.2rem center !important;
  border-color: #d1d5db !important;
}
.DayPicker-Caption select[name="month"] {
  width: 65%;
}
.DayPicker-Caption select[name="year"] {
  width: 35%;
  border-left: none;
}
.DayPicker-NavButton {
  margin-top: 0 !important;
  top: 1.2rem !important;
}
.DayPicker-NavButton--prev {
  left: 5px !important;
  margin-right: 0 !important;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 40' stroke='currentColor'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M18 32l-12-12 12-12' /%3E%3C/svg%3E") !important;
}
.DayPicker-NavButton--next {
  right: 5px !important;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 40' stroke='currentColor'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M8 8l12 12-12 12' /%3E%3C/svg%3E") !important;
}
